body {
	
	max-width:1400px;
	max-height:1300px;
	background:#E6E6FA;
    border: 11px double black; 
	border-radius: 50px;
	border-color: #120740;
    padding: 10px; 
   }
button {
		
		background: #ED1212 ; 
		color: white;	
		border: 5px solid #120740;
		width: 95px;
		height: 95px; 
		border-radius: 42px;
		margin:10px;
		
}
TD {
		background: #AFEBE2  ;
}

table {
	border: 3px solid #120740;
	padding: 15;
	width: 70%;
	height: 70%
}	
h1{
	color: #22116A;
}	
h3{
	color: #22116A;
}
ol li {
    padding: 5px;
    color : #22116A;
	font-family:comic sans ms ;
	font-size: 13pt;
}

p {
	color: #80084A ;
	font-family:comic sans ms ;
	font-size: 13pt;
}	



